# Environment-specific files
.env*
.env
venv/
env/

# Distribution / packaging files
*.egg
*.egg-info
dist/
build/
.DS_Store
Air_Quality_Monitoring_Analysis_no_code.md
# Jupyter Notebook files
*.ipynb_checkpoints/